body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Manrope', sans-serif;

  background-image: url(bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 50vh;
}
